@import "../../imports/colors";

.stepContainer {
	align-items: center;
	padding-bottom: 130px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.step {
	h3 {
		font-weight: 500;
		color: $mainColor;
	}
	h5 {
		font-weight: 600;
	}
	h3,
	h5 {
		font-size: $lgTextSize;
		line-height: $lgLineHeight;
		margin-bottom: 32px;
	}
	p {
		font-weight: 300;
		font-size: 24px;
		line-height: 29px;
	}
}

.stepImg {
	display: flex;
	justify-content: center;
}

@media (max-width: 1024px) {
	.stepContainer {
		align-items: center;
		padding-bottom: 60px;
	}
	
	.step {
		h3,
		h5 {
			font-size: $smTextSize;
			line-height: $smLineHeight;
			margin-bottom: 16px;
		}
		p {
			font-size: $smParagraphSize;
			line-height: $smParagraphLineHeight;
		}
	}
	.stepImg {
		img {
			width: 245.15px !important;

		}
	}
}