$mainColor: #F95437;
$mainBgColor: #FFFCFC;
$secondBgColor: #FFE9E6;

$lgTextSize: 32px;
$lgLineHeight: 36px;

$smTextSize: 20px;
$smLineHeight: 20px;

$lgParagraphSize: 24px;
$lgParagraphLineHeight: 29px;

$smParagraphSize: 18px;
$smParagraphLineHeight: 20px;


$aboutParagraphSize: 16px;
$aboutParagraphLineHeight: 22px;